extends layout

block content
    br
    h1 BLOG
    a.btn.btn-warning.float-right(href="/logout") Log out 
        i.fa.fa-sign-out
    a.button.btn(href='/add') Write something 
        i.fa.fa-plus-circle
    br
    br
    if data.length
        //table.table-bordered.table-hover
            thead
                tr
                    th.text-center Title
                    th.text-center Summary
                    th.text-center Author
                    th.text-center Last Updated
                    th.text-center Delete
                tbody
                    each article in data
                        tr
                            td.text-center
                                a(href=`/read/${article.id}`)= article.title
                            td.text-center!= article.summary
                            td.text-center= article.author
                            td.text-center= article.date_established
                            td.text-center
                                a.button.btn(href=`/delete/${article.id}`, onclick="return confirm('Do you confirm to delete this article?')")
                                    i.fa.fa-trash
                                a.badge.badge-danger(href=`/delete/${article.id}`, onclick="return confirm('Do you confirm to delete this article?')") DELETE                        
        each article in data
            if article.author == user
                    .card.border-info.mb-3
                        .card-body
                            .text-center
                                .text-info
                                    h5.card-title.display-4= article.title
                                br
                                .text-dark
                                    h5.card-text!= article.summary
                                br
                                .text-secondary
                                    p.card-text= `Author: ${article.author}`
                                .text-secondary
                                    p.card-text= `Last Updated: ${article.before}`
                                br
                                a.btn.btn-secondary(href=`/read/${article.id}`) Continue reading 
                                    i.fa.fa-book
                                a.btn.float-right(href=`/delete/${article.id}`, onclick="return confirm('Do you confirm to delete this article?')")
                                    i.fa.fa-trash
                    br
            else 
                .card.border-info.mb-3
                        .card-body
                            .text-center
                                .text-info
                                    h5.card-title.display-4= article.title
                                br
                                .text-dark
                                    h5.card-text!= article.summary
                                br
                                .text-secondary
                                    p.card-text= `Author: ${article.author}`
                                .text-secondary
                                    p.card-text= `Last Updated: ${article.before}`
                                br
                                a.btn.btn-secondary(href=`/read/${article.id}`) Continue reading
                br

    else
        br
        p No contribitions yet :(