extends layout

block content
    .jumbotron.text-center
        h1.display-3.text-center= data.title
        br
        a.btn.btn-secondary.float-left(href='/', style='margin-right:20px;')  < Homepage
        a.button.btn.float-left(href=`/delete/${data.id}`, style='margin-right:20px;', onclick="return confirm('Do you confirm to delete this article?')")
            i.fa.fa-trash
        a.button.btn.float-left(href=`/edit/${data.id}`, style='margin-right:20px;')
            i.fa.fa-pencil
        p.float-right= `Written in: ${data.date_established}`
    br
    blockquote.blockquote
        p.mb-0!= data.content
        br
        br
        footer.blockquote-footer= data.author