extends layout

block content
    link(href='/public/froala_editor_3.0.6/css/froala_editor.pkgd.min.css', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/public/star.css')
    script(type='text/javascript', src='/public/froala_editor_3.0.6/js/froala_editor.pkgd.min.js')
    body
        script.
            let rating = #{rating};
            if (rating) {
                window.addEventListener('load', function () {
                    document.getElementById(rating + "-star").checked = true;
                })
            }
        div.container
            .jumbotron.text-center
                h1.display-3.text-center= data.title
                br
                a.button.btn.btn-secondary.float-left(href='/', style='margin-right:20px;')  
                    i.fa.fa-home
                if user == data.author || isAdmin
                    a.button.btn.float-left(href=`/edit/${data.id}`, style='margin-right:20px;')
                        i.fa.fa-pencil
                    a.button.btn.float-left.text-danger(href=`/delete/${data.id}`, style='margin-right:20px;', onclick="return confirm('Do you confirm to delete this article?')")
                        i.fa.fa-trash
                p.float-right= `Written at: ${data.date_established}`
                br
                br
                br
                .div
                    h5.float-left Rate this article:
                    form(action='', method='post')
                        ul.rate-area.float-left(style='margin-right:30px;')
                            input#5-star(type='radio', name='rating', value='5')
                            label(for='5-star', title='Amazing') 5 stars
                            input#4-star(type='radio', name='rating', value='4')
                            label(for='4-star', title='Good') 4 stars
                            input#3-star(type='radio', name='rating', value='3')
                            label(for='3-star', title='Average') 3 stars
                            input#2-star(type='radio', name='rating', value='2')
                            label(for='2-star', title='Not Good') 2 stars
                            input#1-star(type='radio', name='rating', value='1')
                            label(for='1-star', title='Bad') 1 star
                            //input(type='hidden', value=data.id)
                        input.button-secondary.float-left(type='submit', value='Submit')
                p.float-right= `This article has been viewed ${click} times.`
            br
            br
            blockquote.blockquote
                p.mb-0!= data.content
                br
                footer.blockquote-footer= data.author
            br
            if loggedIn
                h5 Write a comment:
                br
                form#content-form(action='', method='post' class="form-registration")
                    .form-group.col-md-12
                        textarea#comment(rows="12", cols="135", name="comment", placeholder="Write your comment here", required)
                        input#title(type='hidden', name='title', value=data.title)
                    button.btn.btn-primary.float-right(type='submit') Submit 
                        i.fa.fa-share-square-o
            br
            br
            h5 Comments:
            br
            if commentdata.length
                each comment in commentdata
                    if comment.author == user || isAdmin
                        .card.border-secondary.mb-3
                            div.container
                                .card-body
                                    .text-secondary
                                        p.card-title= `${comment.author}:`
                                    .text-dark
                                        p.card-title!= comment.comment
                                    a.btn.float-right.text-danger(href=`/commentdelete/${comment.comment_id}`, onclick="return confirm('Do you confirm to delete this comment?')")
                                        i.fa.fa-trash
                    else
                        .card.border-secondary.mb-3
                            div.container
                                .card-body
                                    .text-secondary
                                        p.card-title= `${comment.author}:`
                                    .text-dark
                                        p.card-title!= comment.comment
            else
                p No comment
            br
            br
            br
            script.
                let summary = new FroalaEditor('textarea#comment', {
                    placeholderText: 'Write your comment here.'
                })